<% include ../partials/header.ejs%>

<div class = "container form"> 
    <form action = "/journals/<%=journal._id%>/?_method=PUT" method = "POST" class = "form">

    <h1>Edit <%=journal.title%></h1>
        <div class="form-group">
            <label for="nameInput">Title</label>
            <input name = "journal[title]" type="text" class="form-control" id="nameInput" value = "<%=journal.title%>">
        </div>

        <div class="form-group">
            <label for="bodyInput">Description</label>
            <textarea name = "journal[description]" class="form-control" id="bodyInput"><%=journal.description%></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script>
        function confirmDelete() {

            var deleteForm = document.querySelector("#journalDeleteForm");

            alertify.confirm("Do you really want to delete this journal?", "This cannot be undone. This is the point of no return. Don't delete unless you are absolutely sure.",
            function(){ 
                //go ahead and submit the delete form
                deleteForm.submit();
            },
            function(){
                //don't submit the delete form and return false
                alertify.success("Your post was not deleted.");
            }).set('defaultFocus', 'cancel').set('labels', {ok:"Delete", cancel:'Back to Safety'});
        }
    </script>
    
    <div class = "journalDeleteForm">
        <button type = "submit" class = "btn btn-outline-danger form" onclick = "confirmDelete()" >Delete This Journal</button>
    </div>

    <form action = "/journals/<%=journal._id%>?_method=DELETE" method = "POST" class = "journalDeleteForm">
    </form>
</div>

<% include ../partials/footer.ejs%>