<% include ../partials/header.ejs%>

    <div class = "container">
        
    <div class = "row">
    <div class = "col-lg-4 order-md-last order-sm-first">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Featured
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    
        <div class = "col-lg-8 order-md-first order-sm-last">
            <h1 class = "text-center">Home</h1>
                
                <h2 class = "text-left">Journals</h2>

               <% journals.forEach(function(journal){ %>
                  <p>
                    <button class="btn btn-dark btn-block btn-lg journal-expand" type="button" data-toggle="collapse" data-target=".journal-01" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"><%=journal.title%> <i class="fas fa-angle-down"></i></button>
                  </p>
                  <div class="row">
                  <button class = "btn btn-outline-primary btn-block journal-01 collapse journal-create-button">Create a Post in <em><%=journal.title%></em> <i class="fas fa-angle-right"></i></button>
                  <% if (journal.posts.length >= 1){ %>
                      <% for(var i = 0; i<2; i++){ %>
                        <div class="col col-12 col-md-6">
                          <div class="collapse journal-01" id="multiCollapseExample2">
                                <div class="card">
                                    <img class="card-img-top" src="https://bit.ly/2NeIetx" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=journal.posts[0].title%></h5>
                                            <h6 class="card-subtitle mb-2 text-muted"><%=journal.posts[0].author.username%></h6>
                                            <p class="card-text"><%-journal.posts[0].body.substring(0, 100)%></p>
                                            <a href="/posts/<%=journal.posts[0]._id%>" class="btn btn-primary">View</a>
                                        </div>
                                </div>
                          </div>
                        </div>
                      <% } %>
                  <% } %>
                  </div>
                <% }) %>
              </div>

            </div>
<% include ../partials/footer.ejs%>
