<%- include('../partials/header.ejs', {active: "explore"}); %>%>

    <div class = "container mt-3">
            
            <h1 class = "text-left">Explore</h1>

            <form action = "/explore" method = "GET" class = "form-inline" id = "searchForm">
                    <input type="text" class="form-control" id="searchBox" placeholder="Search Query" name = "search">
                    <input type="number" step = "1" min = "1" value = "10" max = "100" class="form-control" id="numResultsBox" placeholder="Number of results" name = "limit">
                    <button class = "btn btn-primary">Search</button>
                    <%if(showBackButton){%>
                        <a class="btn btn-dark" href = "/explore" id = "backButton"><i class="fas fa-angle-left"></i> Back</a>
                    <%}%>
            </form>

        <% if (posts.length >= 1){ %>
        <div class="card-columns">
            <%posts.forEach(function(post){%>
                <% if(post.isPrivate == false) {%>
                <div class="card">
                <img class="card-img-top" src="https://bit.ly/2NeIetx" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=post.title%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%=post.author.username%></h6>
                        <p class="card-text"><%-post.body.substring(0, 100)%></p>
                        <a href="/posts/<%=post._id%>" class="btn btn-primary">View</a>
                    </div>
                    <% if (post && post.partOfJournal && post.partOfJournal.title) { %>
                    <div class="card-footer">
                        Part of the journal <a href = "/journals/<%=post.partOfJournal._id%>" class = "badge badge-success"><%=post.partOfJournal.title%></a> by <a href = "/users/<%=post.partOfJournal.author.username%>" class = "badge badge-secondary"><%=post.partOfJournal.author.username%></a>
                    </div>
                    <% } %>
                </div>
              <% } %>
            <%})%>
        </div>
       <% } else { %>
        <p>Sorry, no posts were found</p>
        <% } %>
        
    </div>
<% include ../partials/footer.ejs%>
